<mat-toolbar id="app-nav" role="header" class="layer-1" [style.height]="height">
  <button *ngIf="hasSideNav" mat-icon-button mat-icon-button aria-label="Toggle Navigation" (click)="ModelChange(!model)">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="brand" routerLink="/">
    <img [src]='logo' height='32px' />
    <span class="mat-h1">{{ title | uppercase }}</span>
  </a>
  <div class="spacer content">
    <ng-content></ng-content>
  </div>
  <a class="secondary" [style.line-height]="height" mat-button routerLink="/home" routerLinkActive="nav-indicator"><mat-icon>home</mat-icon></a>
  <mat-icon class="verified-user secondary" aria-hidden="false" aria-label="User verified icon">verified_user</mat-icon>
  <theme-picker></theme-picker>
</mat-toolbar>
