// Entry point to apply the theme to your website.
// Include in your angular.json styles attribute.
// Contains utilizes variables, styles, and theme properties
// for styling elements that are related to your unique website.
@import '_theme.sass'
@import '_responsive.sass'

// ************************ //
// ####################### //
// Application Properties //
// ##################### //
// ******************** //

/// ### Card Styles ###
mat-card-content.card-table
  section
    display: table

  .table-label
    display: table-cell
    min-width: 160px
    margin-left: 8px

  .table-row
    display: table-cell
    width: 100%

  p
    min-width: 100px
    display: inline-block
    text-align: center
    margin: 8px 16px

// ### Mat Dialog Container ###
.mat-dialog-container
  > ng-component
    display: block
    position: relative
    height: 100%
    width: 100%

  .mat-card
    box-shadow: none !important

  .mat-dialog-actions
    position: absolute
    bottom: 0

/// ### Form Styles ###
mat-form-field
  margin: 0 1.00rem 1.00rem 0

mat-radio-button
  margin: 0 0.5rem

.mat-form-field-suffix > button.mat-icon-button
  display: inline-block!important

// ### Tab Styles ###
.mat-tab-label-content mat-icon
  margin: 0 0.3rem

// ### Application Styles ###
.results-container
    position: relative

.results-list
  max-height: 40vh
  overflow: auto
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: -1
  padding: 5px 0 7px
  box-shadow: 0px 0px 10px 0px black

  > p, > a
    display: block
    position: relative
    padding: 0 2.6rem
    margin: 0 0 0.75rem
    font-size: 0.875rem
    font-family: arial
