// ***** //
// #### //
// REM //
// ## //
// * //

html
  // pick font ranges between 8px and 24px
  font-size: 16px

// ### Default Styles ###

body
  margin: 0

// Removes default ancher styles
a, a:hover
  text-decoration: none
  color: inherit

// Removes default list styles
ul, ol
  list-style: none
  padding: 0
  margin: 0

// ### Material Guideline Styles
// uppercase button text
button
  text-transform: uppercase

// Mat Sort Headers are written as a button,
// but we do not want the transform here.
.mat-sort-header-button
  text-transform: none

// ### Helfpul Classes ###
// Used for display flex div spacing
.spacer
  flex: 1 1 auto

.m-auto
  margin: auto

.body-spacing
  margin: 30px

.w-100
  width: 100%

